html, body {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

h2 {
    letter-spacing: .2px;
}

h5 {
    margin: 0;
    padding: 6px 0;
    font-size: 12px;
    letter-spacing: .2px;
}

#border td {
    border-top: 1px solid rgba(140,140,140,0.7);
    border-bottom: 1px solid rgba(140,140,140,0.7);
}

#main {
    width: 600px;
}

#footer {
    height: 100px;
    color: #fdfdfd;
    padding: 20px 0;
}

.contact {
    padding: 0px 0;
}

.img {
        padding-right: 10px;
        float: left;
        margin-top: 2px;
    }

    #phone {
        margin-top: 10px;
    }

    #mail {
        margin-left: -25px;
    }

    #email {
        margin-top: 14px;
    }

    .icon {
        padding: 0 0 30px 10px;
    }

    .social {
        float: left;
    }

    .text {
        float: left;
        margin-left: 20px;
        padding: 0 5px 30px 5px;
        color: #fdfdfd;
    }

#address {
    padding: 8px 0 10px 0;
    color: rgba(140,140,140);
}

#follow {
    padding-top: 10px;
}

@media only screen and (max-width: 400px) {
    table {
        width: 100vw;
        margin: auto;
    }
    
    #logo {
        max-width: 100vw;
        text-align: center;
    }

    #row1 {
        padding: 0 30px;
    }

    h2 {
        padding-top: 20px;
    }

    p {
        text-align: center;
    }

    h4 {
        text-align: center;
    }

    h5 {
        text-align: center;
        padding-top: 20px;
    }

    #border td {
        border-top: 1px solid rgba(140,140,140,0.7);
        border-bottom:  1px solid rgba(140,140,140,0.7);
        padding: 10px 0;
        
    }

    #end {
        text-align: center;
    }

    #foot {
        display: flex;
        justify-content: center;
    }

    #footer {
        text-align: center;
        padding: 10px 0px;
    }

    #mail {
        margin-left: -25px;
    }

    #email {
        margin-top: 14px;
    }

    .icon {
        padding: 0 0 30px 10px;
    }

    .social {
        float: left;
    }

    .text {
        float: left;
        margin: auto;
        padding: 0 5px 30px 5px;
        color: #fdfdfd;
    }
}

@media only screen and (max-width: 500px) {
    table {
        max-width: 100vw;
    }

    /* LOGO */
    #logo {
        text-align: center;
    }

    h2 {
       padding-top: 20px;
    }

    /* DEAR NAME */
    #row1 h4 {
        width: 90%;
        padding-left: 20px;
    }

    #row1 p {
        width: 90%;
        padding-left: 20px;
    }

    /* YOUR ITEMS */
    h5 {
        padding-left: 20px;
    }

    #border td {
        padding-left: 20px;
    }

    /* OUTRO */
    #end p {
        padding-left: 20px;
        line-height: 12px;
    }

    /* FOOTER */
    #footer {
        padding: 20px 20px;
    }

    #foot {
        display: flex;
        justify-content: center;
    }

    #mail {
        margin-left: -25px;
    }

    #email {
        margin-top: 14px;
    }

    .icon {
        padding: 0 0 30px 10px;
    }

    .social {
        float: left;
    }

    .text {
        float: left;
        margin: auto;
        padding: 0 5px 30px 5px;
        color: #fdfdfd;
    }
    
}